<!-- Loading dialog -->
<div class="loading-dialog" style="display: none">
    <div class="mdl-spinner mdl-js-spinner is-active"></div>
</div>

<!-- Error dialog -->
<div class="" id="error" style="display:none">
    <h4 class="alert-heading" id="errorTitle"></h4>
    <pre id="errorMessage"></pre>
</div>